# PUT YOUR SESSION ID BELOW (Required)
SESSION_ID=

PORT=1000

# If you don't have session id and want pairing code for connection 
PAIRING_NUMBER=


PREFIXES=.,!,/

PACKNAME=AMON-MD 

BOT_NAME=AMON-MD 

OWNER_NUMBER=

COMMAND_MODE=private

BOT_OWNER=
